$color-bg: #E6E6FA; // theme主色
$color-font-title: #7B68EE; // 标题
$color-font-vice: #9370DB; // 副标题
$color-light: #9370DB;
$color-font: #7B68EE; // 正文
$font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
"Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

// 配色方案
$a: #E6E6FA;
$b: #9370DB;
$c: #7B68EE;
$d: #7B68EE;